<body>
  {{#> mdl-layout class="demo-layout mdl-color--grey-100" header-fixed="true" }}
    {{> body-header}}
    <div class="demo-ribbon"></div>
    {{> body-main}}
  {{/mdl-layout}}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
