{{#> mdl-footer-mini class="demo-footer"}}
  {{#> mdl-footer-mini-left class=""}}
    {{#> mdl-footer-mini-links class=""}}
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy and Terms</a></li>
      <li><a href="#">User Agreement</a></li>
    {{/mdl-footer-mini-links}}
  {{/mdl-footer-mini-left}}
{{/mdl-footer-mini}}
