<label{{{tern for (cat " for=" "'" for "'") ""}}}{{{tern id (cat " id=" "'" id "'") ""}}} class='{{class}} mdl-button mdl-js-button{{tern icon " mdl-button--icon" ""}}'>
  {{> @partial-block}}
</label>
